body{
    background-image: url('../src/components/wallpaper.jpg') ;
    background-size: cover;
    width: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
}