/* .cartas{
    position:relative;
    width: 150px;
    height: 350px;
    margin: 3px;
    font-family: tequila;
    padding: 22px;
    display: flex;
    flex-wrap: wrap;
    text-align:center;
    flex-direction: row wrap;
    justify-content:flex-start; 
    border: 5px outset #0cc0ba;
    background-color: #08b5afb8;
    margin-top: 11px;
    margin-bottom: 11px;
} */